<%@words_array = @client.user_timeline.collect{|x| x[:text]}%>
<%@sfa=@words_array.shuffle!%>
<%@sfa.map! {|x| x.gsub(/(?:f|ht)tps?:\/[^\s]+/, "") } %>
<%@sfa.delete_if(&:empty?)%>


<%#@words_array = @client.home_timeline.collect{|x| x[:text]}%>
<%#=@words_array%>

<%string = @sfa.join(" ")%> 
<%array_again=string.split%>
<%array_again%><br>
<p id="tweetheading">your most recent tweets</p>
<hr>
<%=link_to "HOME FEED", tweets_path(homefeed: true)%>


<%word_count_hash = Hash.new (0)%>
<%array_again.each do |x|%>
<%word_count_hash[x] +=1 %>
<%end%>

<div>

<div class="container tweetwords">
<%word_count_hash.each do |k,v|%>
    <%if v>5%>
        <span id='largekeys'><%=k%></span>
    <%elsif v ==5%>
        <span id='keys5'><%=k%></span>
    <%elsif v == 4%>
        <span id='keys4'><%=k%></span>
    <%elsif v==3%>
        <span id='keys3'><%=k%></span>
    <%elsif v==2%>
        <span id='keys2'><%=k%></span>
    <%else%>
        <span id="keys1"><%=k%></span>
  <%end%>
<%end%>
</div>




