<%@words_array = @client.user_timeline.collect{|x| x[:text]}%>
<%@words_array%> <hr>

<%string = @words_array.join(" ")%><hr>
<%array_again=string.split%><hr>
<%array_again.shuffle!%><hr>

<%array_again%><hr>

<%array_again.map!{|x| x.gsub(/^https?:\/\/(.*)/, " ") }%><hr>
<%array_again.map!{|x| x.gsub(/\.$/, " ") }%><hr>
<%array_again.map!{|x| x.gsub(/^\./, " ") }%><hr>
<%array_again.map!{|x| x.strip}%><hr>
<%array_again.map!{|x| x.gsub(/^\(/, " ") }%><hr>
<%array_again.map!{|x| x.gsub(/\)$/, " ")}%><hr>
<%array_again.map!{|x| x.gsub(/,$/, " ") }%><hr>
<%array_again.map!{|x| x.gsub(/:$/, " ") }%><hr>
<%array_again.map!{|x| x.gsub(/^&amp(.*)/, "&") }%><hr>


<%#array_again.map!{|x| x.upcase}%><hr>
<%array_again.map!{|x| x.strip}%><hr>

<%array_again.reject!{|x| x== " "|| x=="," || x==""}%><hr>
<%array_again.map!{|x| x.strip}%><hr>

<%=array_again%>

<!-- new_array = randomarray.delete_if{|x| /^@/.match(x) || /^#/.match(x)} -->



<%#=@words_array.shuffle!%>
<%#=@words_array.map! {|x| x.gsub(/(?:f|ht)tps?:\/[^\s]+/, " ") } %><hr>
<!-- <%#=@words_array.delete_if(&:empty?)%><hr> -->


<%#@words_array = @client.home_timeline.collect{|x| x[:text]}%>
<%#=@words_array%>




<p id="tweetheading">your most recent tweets</p>
<p>word cloud based on your most recent tweets|<%=link_to "your home feed", tweets_path(homefeed: true)%></p> 

<hr>


<%word_count_hash = Hash.new (0)%>
<%array_again.each do |x|%>
<%word_count_hash[x] +=1 %>
<%end%>

<div>

 <div class="container tweetwords"> 
<%word_count_hash.each do |k,v|%>
    <%if v>5%>
        <span id='largekeys'><%=k%></span>
    <%elsif v ==5%>
        <span id='keys5'><%=k%></span>
    <%elsif v == 4%>
        <span id='keys4'><%=k%></span>
    <%elsif v==3%>
        <span id='keys3'><%=k%></span>
    <%elsif v==2%>
         <span id='keys2'><%=k%></span> 
    <%else%>
    <span id="keys1"><%=k%></span> 
  <%end%>
      <%if (/^@(.*)/).match(k)%>
      <span id="tweettouser"><%=k%></span>
      <%end%>
      <%if (/^#(.*)/).match(k)%>
      <span id="hashtag"><%=k%></span>
      <%end%>

<%end%>



/^#(.*)/.match(x)

