<!DOCTYPE html>
<html>
<head>
  <title>Ideafactory</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'https://js.stripe.com/v1','data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  <%= tag :meta, name: "stripe-key", content: ENV["STRIPE_PUBLISHABLE_KEY"]%>


<!-- NAVBAR ######################################## -->
<div class="navbar navbar-default">
    <%=image_tag 'ideafactory.png', id: "imagemod"%>
    <div id="scootover">
        <div id="signinsignout"> 
            <%if user_signed_in? %>
              Hello&nbsp;<%=current_user.first_name%>&nbsp;&nbsp;

 <%if current_user.omniauth_raw_data.present?%>

 <%=image_tag current_user.omniauth_raw_data["info"]["image"] %>
 <%end%>



              <%=link_to 'Logout', 
              destroy_user_session_path, 
              :method => :delete %>
              <%else%>
              <%=link_to 'Login', 
              new_user_session_path%>

              <%=link_to "Sign in with twitter", user_omniauth_authorize_path(provider: :twitter)%>

            <%end%><br><br><br>
        </div>
            <div class=  "btn btn-default">
            <%=link_to 'New Idea', 
            new_idea_path%> </div>
    </div>
</div>
<!-- ############################################### -->
  
</head>
<body>

<%= yield %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

</body>
</html>
